@model ProductFullInformation

<div class="container">
    <div class="row">
        <div class="col-lg-6 order-lg-1">
            <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Name">
        </div>
        <div class="col-lg-6 order-lg-2">
            <h1 class="my-4">@Model.Name</h1>
            <p>@Model.Description</p>
            <h2>@($"${Model.Price:N2}")</h2>
            <form method="post">
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="10" class="form-control">
                </div>
                <input type="hidden" id="productId" name="productId" value="@Model.Id">
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>
</div>